# Directories
.vs/
.vscode/
build/
bin/
bin-int/
x64/
backup2024/

# Files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
Atlas/src/Atlas/Utils/Maths/main.cpp
Atlas/src/Atlas/Utils/Maths/result.exe
Atlas/src/Atlas/Utils/Maths/mat.cpp
